html,body{
    height: 100%;
}
.container {
  height: 100%;
  display: flex;
  justify-content: right; /* 가로 정렬 */
  align-items: center; /* 세로 정렬 , aic타자로 치면 나옴 */
  

}
.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
}